PORT=5000
MONGO_URI=PORT=5000
MONGO_URI=mongodb://admin:gear12345@ac-tqhaneu-shard-00-00.tyqa3s4.mongodb.net:27017,ac-tqhaneu-shard-00-01.tyqa3s4.mongodb.net:27017,ac-tqhaneu-shard-00-02.tyqa3s4.mongodb.net:27017/gearguard?ssl=true&replicaSet=atlas-i415kj-shard-0&authSource=admin&appName=GearGuardCluster
NODE_ENV=development
JWT_SECRET=mysecretkey123
NODE_ENV=development
JWT_SECRET=mysecretkey123